.techs__buttons-place
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 90px auto 100px auto;
    max-width: 80%;
}
@media screen and (max-width: 768px)
{
    .techs__buttons-place
    {
        max-width: 100%;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 620px)
{
  .techs__buttons-place{
    display: grid;
    grid-template-columns: repeat(2,84px);
    row-gap: 10px;
    column-gap: 10px;
  }
}