.menu__buttons-container
{
    opacity: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 50%;
    height: 100vh;
    z-index: 2;
    text-align: center;
}