.navtab__sign
{
    color: black;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 20px 40px 0px 40px;
}
@media screen and (max-width: 620px)
{
    .navtab__sign
    {
    margin: 20px auto 0px auto;

    }
}