.techs__content
{
    max-width: 90%;
    margin: 0px auto 0px auto;
}
@media screen and (max-width: 768px)
{
    .techs__content
    {
        height: 40vh;
    }
}
@media screen and (max-width: 620px)
{
    .techs__content
    {
        height: 60vh;
    }
}