.navtab {
  max-width: 1280px;
  height: 513px;
  margin: 0px auto 0px auto;
}

@media screen and (max-width: 768px) {
  .navtab {
    height: 75vh;
  }
}
@media screen and (max-width: 620px)
{
    .navtab
    {
        height: 50vh;
    }
}