.register-login__input
{
    text-align: left;
    color: #000;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    max-width: inherit;
    width: 100%;
    min-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #F9F9F9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.register-login__input:active,
.register-login__input:hover,
.register-login__input:focus {
outline: none;
}


@media screen and (max-width: 620px)
{
    .register-login__input
    {
        width: 90%;
    }
}