.buttons-place__menu {
  display: none;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .buttons-place__menu {
    display: block;
    opacity: 100%;
    width: 40px;
    height: 40px;
    margin-right: -11px;
  }
}
@media screen and (max-width: 425px) {
  .buttons-place__menu {
    margin-right: -5px;
  }
}
