.profile__input
{
    border: none;
    line-height: 15px;
    padding: 0;
    margin: 0;
    text-align: right;
}
.profile__input:active,
.profile__input:hover,
.profile__input:focus {
outline: none;
}

