.navigation__auth-avatar
{
    border-radius: 4px;
    object-fit: cover;
    width: 26px;
    height: 30px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px)
{
    .navigation__auth-avatar
    {
        display: none;
    }
}